body{
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

header{
  background-image: url(../../resources/images/glasses-bg.png);
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
}

nav{
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

nav .logo{
  display: flex;
  align-items: center;
}


.logo img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul li{
  display: inline;
}

.services{
  margin-right: 2rem;
}

.mobile{
  display: none;
}

.banner{
  background-color: white;
  color: black;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
}

.flex{
  display: flex;
  justify-content: flex-end;
}


}

@media only screen and (max-width: 550px){

  .desktop{
    display: none;
  }
  .mobile{
    display: initial;
  }
  .banner{
    width: 100%;
    margin-top: 9rem;
    margin-right: 0;
  }
  header{
    background-position: 20%;
    height: 17rem;
    width: 100%;
}

.container{
  max-width: 100%;
  }
}
