body{
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

header{
  background-image: url(../../resources/images/glasses-bg.png);
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
}

nav{
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

nav .logo{
  display: flex;
  align-items: center;
}


.logo img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul li{
  display: inline;
}

.services{
  margin-right: 2rem;
}

.mobile{
  display: none;
}

.banner{
  background-color: white;
  color: black;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
}

.flex{
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1024px){

nav.container{
    max-width: 100%;
  }
  header{
    padding-top: 0;
    height: 22rem;
  }
  .banner{
    margin-top: 5rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin-right: 2rem;
  }
}



@media only screen and (max-width: 550px){

  .desktop{
    display: none;
  }
  .mobile{
    display: initial;
  }
  .banner{
    width: 100%;
    margin-top: 9rem;
    margin-right: 0;
  }

  header{
    background-position: 20%;
    height: 17rem;
    width: 100%;
}

.container{
  max-width: 100%;
  }

  .logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 3.77rem;
    font-size: 0.77rem;
  }

  .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

}


.logos{
  display: flex;
  justify-content: center;
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 5rem;
  margin: 3rem;
}

.section img{
  width: 5rem;
  margin-bottom: 1rem;
}

.section img.paper{
  width: 3.5rem;
}

.info{
  display: flex;
  justify-content: center;
}

.pa{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.title{
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
  width: 10rem;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.end{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.end img{
  margin-right: 1rem;
  height: 1.5rem;
}
